@media all and (max-width: 1000px) {
.photo2 {
    display:flex;
    flex-direction:column;
.item {
    width: 100%;
    
    }
/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
 .header-logo h6{
     font-size:50px;
    }
.photo2 {
    height: auto;
    }
.item {
    width: 100%;
    height: auto;
    
}
    
