html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}
li {
  list-style: none;
}
header {
  height: 50px;
  width:100%;
  background-color:#fff;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  line-height: 50px;
}


.header-logo{
  float:left;
  color:#777;
  font-family: cursive;
  font-size:32px;
}

.header-right{
  float:right;
  color:white;
}

.header-right li {
  float:left;
}

.header-right a {
  margin-right:10px;
  color:#323A45;
  text-decoration:none;
  font-weight: 700;
}

.top-wrapper {
  padding:700px 0 700px 0;
  background-image:url(https://raw.githubusercontent.com/ono-sika/github.io/master/onosika03.jpg);
  color:white;
  font-family: cursive;
  text-align:center;
  background-size:cover;
  height:50%;
  position:relative;
}
.top-section {
  position:absolute;
  top:200px;
  left:150px;
  text-align:left;
}
.top-section h2{
  font-family: 'Dosis', sans-serif;
 color: #d0d0d0;
}
.container {
  text-align: center;
}

.middle-wrapper{
  width:100%;
  height:30%;
  text-align:center;
  background-color:rgb(255 255 224);
  padding:55px 0;
}
.middle {
  display:flex;
  justify-content: space-around;
  color:#A0522D;
}
.subject{
  width:60%;
  text-align:left;
}
table {
  border-collapse: collapse;
  width:100%;
}
table th, table td {
  border: groove 5px orange;
  border-radius: 20px;
  padding:10px;
}
.fas{
  margin-right:10px;
}
.s0 p {
  text-align:left;
}

.s1.h2{
  margin:30px;
}
.photo-wrapper {
  width:100%;
  background-color:lavenderblush;
  color:#A0522D;
}
.photo2 {
  display:flex;
  justify-content: space-between;
  padding:30px;
  height:500px;
}
.access-wrapper {
  padding:55px 0;
  color:#A0822D;
  background-color:azure;
}
.item {
width:25%;
height:auto;

  margin-right:50px;
}

.contact-form {
  margin-top: 300px;
}

input,textarea {
  font-size: 18px;
  border: 1px solid #dee7ec;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-submit {
  background-color:#dee7ec;
  color: #889eab;
  margin-top: 50px;
}

footer {
  height: 65px;

  background-color: rgba(34,49,52,0.9);

}

.middle2 {
  display:flex;
  justify-content: space-between;
}
.footer-list {

}
.footer-list li {
  color:white;
  padding-bottom:20px;
}
.footer-logo{

  font-size: 20px;
  color:white;
}
