html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}
li {
  list-style: none;
}
header {
  height: 65px;
  width:100%;
  background-color: rgba(105, 105, 105, .5);
  position: fixed;
  top:0;
  z-index: 10;
}


.header-logo{
  float:left;
  color:white;
  font-family: cursive;
  font-size:32px;
}

.header-right{
  float:right;
  color:white;
}
.top-wrapper {
  padding:700px 0 700px 0;
  background-image:url(http://www.onosika.xyz/img/onosika03.jpg);
  color:white;
  font-family: cursive;
  text-align:center;
  background-size:cover;
  height:100%;
}
.container {
  text-align: center;
}

.intro-wrapper {
  background-color:rgba(230,230,250,1);
}

}
.obi {
  text-align: center;

}

.obi h2 {
  background-color:rgba(105.105.105,0.5);
    padding:20px 0 20px 0;
}
.obi:hover {
  opacity:1;
  background-color:#FFFF99;
}

table {
  border-collapse: collapse;
}
table th, table td {
  border: solid 1px black;
}
.photo {
  height:700px;
}
.photo2 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top:50px;
}

.item {
  flex-shrink:3;
  width:25%;
}

.contact-form {
  margin-top: 300px;
}

input,textarea {
  font-size: 18px;
  border: 1px solid #dee7ec;
  width: 400px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-submit {
  background-color:#dee7ec;
  color: #889eab;
  margin-top: 50px;
}

footer {
  height: 65px;
  width:100%;
  background-color: rgba(34,49,52,0.9);

}
.footer-list {
  float:right;
}
.footer-list li {
  color:white;
  padding-bottom:20px;
}
.footer-logo{
  float:left;
  font-size: 20px;
  color:white;
}
